.page:not(.home) .entry-content {
  a {
	text-decoration: underline;
  }
}

.page {
  position: relative;
}

.header ul,
.footer ul, {
  padding: 0 !important;

  li {
	list-style: none !important;

	&::before {
	  display: none !important;
	}
  }
}

body {
  width: 100%;
}

p {
  margin: 0 0 20px;
  padding: 0;

  &:last-of-type {
	margin-bottom: 0;
  }
}

//links
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in;

  &:hover {
	color: inherit;
  }
}

.underline {
  text-decoration: underline;
}

button:focus,
a:hover,
a:active,
a:focus {
  outline: 0;
}

.entry-content p a {
  hyphens: auto;
}

img {
  height: auto;
  max-width: 100%;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.site-main {
  overflow: hidden;
  margin-top: $header-height;
  min-height: 90vh;

  @include media-breakpoint-down(sm) {
	margin-top: $header-height-mobile;
  }

  section {
	position: relative;
  }
}

//z-index
.z-1 {
  z-index: 1;
}

.link-underline {
  position: relative;
  padding-bottom: 4px;

  &::before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: $color-white;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.2s ease-in;
	@include set-hidden;
  }

  &:hover::before {
	@include set-visible;
  }
}

/* hide adminbar on mobile */
#wpadminbar {
  @include media-breakpoint-down(xl) {
	display: none !important;
  }
}

/* container */
.container--wide {
  @include media-breakpoint-up(xl) {
	max-width: 1880px;
  }
}

strong,
b {
  font-weight: 600 !important;
}


//alignment
.is--left {
  justify-content: flex-start;
}

.is--center {
  justify-content: center;
}

.is--right {
  justify-content: flex-end;
}
